@import "tailwindcss";

@theme {
  /* Layout breakpoints */
  --breakpoint-mobile: 375px;
  --breakpoint-desktop: 1440px;

  /* Colors */
  --color-green: hsl(75 94% 57%);
  --color-white: hsl(0 0% 100%);
  --color-gray-700: hsl(0 0% 20%);
  --color-gray-800: hsl(0 0% 12%);
  --color-gray-900: hsl(0 0% 8%);

  /* Typography */
  --font-inter: "Inter", sans-serif;
  --font-inter-bold: "Inter", sans-serif;

  --text-base: 14px;

  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
